<mat-card class="basic-info-card">
    <mat-card-content>
        <mat-form-field>
            <mat-label>Import Path</mat-label>
            <textarea cdkTextareaAutosize matInput [value]="path()" readonly></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Library</mat-label>
            <textarea cdkTextareaAutosize matInput [value]="library()" readonly></textarea>
        </mat-form-field>

        @if (hasQuery()) {
            <mat-form-field>
                <mat-label>Query</mat-label>
                <textarea cdkTextareaAutosize matInput [value]="query()" readonly></textarea>
            </mat-form-field>
        }
    </mat-card-content>
</mat-card>

@if (hasQueries()) {
    <mat-card>
        <mat-card-title>Queries</mat-card-title>

        <mat-card-content class="no-padding">
            <mat-list class="no-padding">
                @for (item of queries(); track item) {
                    <mat-divider></mat-divider>
                    <mat-list-item>{{ item }}</mat-list-item>
                }
            </mat-list>
        </mat-card-content>
    </mat-card>
}

@if (hasSet()) {
    <mat-card>
        <mat-card-title>Set Fields</mat-card-title>

        <mat-card-content class="no-padding">
            <mat-list class="no-padding">
                @for (item of set() | keyvalue; track item.value) {
                    <mat-divider></mat-divider>
                    <mat-list-item><span>{{ item.key }}</span>:<span>{{ item.value }}</span></mat-list-item>
                }
            </mat-list>
        </mat-card-content>
    </mat-card>
}

<mat-card>
    <mat-card-title>Options</mat-card-title>

    <mat-card-content class="no-padding">
        <mat-selection-list disableAllClick class="no-padding">
            <mat-divider></mat-divider>
            <mat-list-option disableRipple [selected]="groupAlbums()">Group Albums</mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option disableRipple [selected]="flat()">Flat</mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option disableRipple [selected]="singleton()">Singleton</mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option disableRipple [selected]="timid()">Timid</mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option disableRipple [selected]="asIs()">As Is</mat-list-option>
        </mat-selection-list>
    </mat-card-content>
</mat-card>
