<form [formGroup]="form()" class="cards">
    <ng-container formArrayName="data">
        @let group = form().controls['data'];
        @for (track of data(); track trackIdx; let trackIdx = $index) {
            <mat-card class="track-card spacing">
                @let trackGroup = group.controls[trackIdx];
                <mat-card-content>
                    @for (fields of track; track fields.name; let fieldIdx = $index) {
                        @let name = fields.name;
                        @let value = fields.value;
                        @let control = fields.control;
                        @let fieldGroup = trackGroup.controls[fieldIdx];
                        <mat-form-field class="spacing">
                            <mat-label>{{ name }}</mat-label>
                            <input matInput type="text" [formControl]="fieldGroup">
                            @if (control.dirty) {
                                <button class="revert-button" matSuffix mat-icon-button (click)="control.reset(value)">
                                    <mat-icon>undo</mat-icon>
                                </button>
                            }
                        </mat-form-field>
                    }
                </mat-card-content>
            </mat-card>
        }
    </ng-container>
</form>

<ng-template [appToolbarSender]="0">
    <button matTooltip="Save" class="save-button" (click)="save()" mat-icon-button [disabled]="isNotEditor()">
        <mat-icon>save</mat-icon>
    </button>
</ng-template>

