mat-card {
    background-color: inherit;
    overflow: hidden !important;
}

mat-card-content {
    padding: 0 !important;
}

mat-list {
    padding: 0 !important;
}

.data-chip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

mat-card-title {
    padding: 8px 16px 8px 16px;
}
