:host-context(.is-handset) nav {
    display: none;
}

.contents {
    display: block;
    height: calc(100% - var(--mdc-secondary-navigation-tab-container-height));
}

:host-context(.is-handset) .contents {
    height: 100%;
}

:host {
    overflow: hidden;
    height: 100%;
    display: block;
}
